#loi:hover{
    background-color:#e0e2e8;
    cursor: pointer;
    height:fit-content;


}

.avi{
    box-shadow: 0 1px 1px rgba(15, 34, 58, .12);
     
}
.avis{
    border-radius: 1px;
    border: 1px solid white;
    box-shadow: 0 0 1px 1px  rgba(0,0,0,.1);
    /* box-shadow: 0 4px 4px rgba(15, 34, 58, .12); */
     
}
.form-control-lg{
    font-size: .875rem;
}

.border-light{
   border-color:  rgb(230 235 245);

}
