.setting-container {
    background-color:light;
    width: 400px; /* Adjusted width */
    height: 100%;
    position: absolute;
    top: 0;
    left:77px;
    padding: 20px;
}
.setting-container {
    padding: 0 1rem;
}

.profile-setting-scroll-container {
    max-height: calc(100vh - 200px); /* Adjust the height as needed */
    overflow-y: auto;
}

/* Optional: Add styling for the scrollbar */
.profile-setting-scroll-container::-webkit-scrollbar {
    width: 5px;
}

.profile-setting-scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.profile-setting-scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
/* Remove text decoration from links in the collapsible sections */
.custom-accordion .card-body a {
    text-decoration: none;
    color: inherit; /* Optional: to ensure it inherits the color from its parent */
}

/* Additional styles to ensure proper hover effects */
.custom-accordion .card-body a:hover {
    color: #007bff; /* Change this to the desired hover color */
}
.custom-collapse-title {
    text-decoration: none;
    font-size: 0.9rem; /* Adjust font size as needed */
    color: inherit; /* Ensure the text color remains the same */
}

.custom-collapse-content p,
.custom-collapse-content h5 {
    text-decoration: none;
    font-size: 0.8rem; /* Adjust font size as needed */
    color: inherit; /* Ensure the text color remains the same */
}

.custom-collapse-content .form-check-label {
    font-size: 0.8rem; /* Adjust font size as needed */
}